* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

:root {
  /* VARIABLES */
  --icon-bg: #ca6d81;
  --primary-bg: #ffffff;
  --primary-text: #737373;
  --body-text: #b5596d;
  --heading-text: #ec879c;
  --active-bg: #fff9f3;
  --qr-bg: #f3f3f3;
  --transition: 0.4s ease-in-out;
  --transition-long: 1s ease-in-out;

  font-family: "Inter", sans-serif;
}

/* UTILITY CLASSES */
.flex {
  display: flex;
}

.justify-center {
  justify-content: center;
}

.align-center {
  align-items: center;
}

.no-display {
  display: none;
}

.flip {
  transform: rotateY(180deg);
}

/* CUSTOM STYLES */

.main-container {
  height: 100vh;
  width: 100vw;
  padding: 2rem;
  background-image: url("../assets/background-mobile.png");
}

/* HEADER */
header {
  gap: 3rem;
  justify-content: center;
  margin-bottom: 2rem;
}

.img-logo {
  position: relative;
}

.profile-img {
  width: 100px;
  border-radius: 50%;
  border: 4px solid white;
  transition: border var(--transition);
}

.profile-img:hover {
  border: 4px solid var(--body-text);
}

.logo {
  position: absolute;
  width: 30px;
  top: 60%;
  left: 75%;
  border-radius: 50%;
  box-shadow: 0 0 2px rgba(0, 0, 0, 0.25);
}

.name-socials,
.front-name-socials {
  flex-direction: column;
}

.back-name-socials {
  opacity: 0;
}

.name-title {
  margin-bottom: 1rem;
  color: var(--icon-bg);
}

.name-title p {
  font-size: 0.9rem;
}

h1 {
  font-size: 1.5rem;
}

.socials {
  gap: 0.75rem;
}

.social-svg {
  transition: transform var(--transition);
  & path {
    transition: fill var(--transition);
  }
}

.social-svg:hover {
  cursor: pointer;
  transform: scale(1.3);
}

.social-svg:hover > path {
  fill: var(--active-bg);
}

/* CARD */

.container {
  position: relative;
  max-width: 400px;
  height: calc(100vh - 200px);
  margin-inline: auto;
  perspective: 1200px;
}

.card {
  position: relative;
  width: 100%;
  height: 100%;
  transition: transform var(--transition-long);
  transform-style: preserve-3d;
}

.card-front,
.card-back {
  position: absolute;
  width: 100%;
  height: calc(100vh - 200px);
  padding: 1.5rem;
  border-radius: 1rem;
  backface-visibility: hidden;
  background-color: var(--primary-bg);
  box-shadow: 0 0 4px rgba(0, 0, 0, 0.25);
}

/* CARD FRONT */

.card-front {
  display: grid;
}

.floral-design {
  gap: 1rem;
  padding: 0.5rem;
  border-radius: 0.25rem;
  transition: background-color var(--transition);
}

.floral-design:hover {
  background-color: var(--active-bg);
}

.floral-img-cont {
  aspect-ratio: 1/1;
  width: 50%;
}

.floral-img-cont img {
  width: 100%;
  border-radius: 0.25rem;
}

h2 {
  margin-bottom: 1rem;
  font-size: 0.9rem;
  color: var(--heading-text);
}

.text-container {
  margin-block: auto;
}

.text-container p {
  font-size: 0.7rem;
  color: var(--primary-text);
}

/* CARD BACK */

.card-back {
  transform: rotateY(180deg);
}

.social-links h2 {
  text-align: center;
  font-weight: 400;
  color: var(--primary-text);
}

.back-social-container {
  margin-bottom: 1rem;
  padding: 1rem;
  border-radius: 0.25rem;
}

.back-social-container:hover {
  background-color: var(--active-bg);
}

.back-social-container svg {
  min-width: 30px;
  width: 50px;
  height: 50px;
  margin-right: 2rem;
}

.back-social-container a {
  text-decoration: none;
  color: var(--body-text);
}

.qr-container {
  gap: 1rem;
  width: 100%;
  padding: 1rem;
  border: 2px solid rgba(236, 135, 156, 0.2);
  border-radius: 10px;
}

.qr-container img {
  width: 40%;
}

.qr-text-cont {
  flex-direction: column;
  justify-content: space-evenly;
  color: var(--primary-text);
}

.name-email h2 {
  margin-bottom: 0;
  font-size: 1.2rem;
  color: var(--primary-text);
}

.name-email p {
  font-size: 0.8rem;
}

.qr-text-cont > p {
  font-size: 0.65rem;
}

/* TURN BUTTON */

.turn-btn-cont {
  position: absolute;
  width: 50px;
  height: 50px;
  right: -16px;
  bottom: -16px;
  border-radius: 10px;
  border: none;
  background-color: var(--icon-bg);
  transition: all var(--transition);
}

.turn-btn {
  width: 25px;
  height: 25px;
}

.turn-btn path {
  transition: fill var(--transition);
}

.turn-btn-cont:hover {
  cursor: pointer;
  transform: scale(1.2);
  background-color: var(--primary-bg);
  box-shadow: 0 0 4px rgba(0, 0, 0, 0.25);
  & path {
    fill: var(--icon-bg);
  }
}

@media (min-width: 400px) {
  .name-title p {
    font-size: 1rem;
  }

  .back-social-container svg {
    min-width: 50px;
  }

  .back-social-container a {
    font-size: 1.2rem;
  }
}

@media (min-width: 1024px) {
  body {
    height: 100vh;
    width: 100vw;
    padding: 11rem 6rem;
    background-image: linear-gradient(#fff2e1, #fde2e1);
  }

  header {
    gap: 5rem;
    justify-content: flex-start;
    height: 154px;
    margin-bottom: 1rem;
    padding-inline: 4rem;
  }

  .img-logo {
    width: 150px;
  }

  .profile-img {
    position: absolute;
    left: 0;
    width: 150px;
    animation-fill-mode: forwards;
  }

  .logo {
    width: 40px;
    left: 100%;
  }

  .name-socials {
    width: 100%;
    text-align: center;
  }

  h1 {
    padding-top: 1rem;
    font-size: 2rem;
  }

  .name-title p {
    font-size: 1.5 rem;
  }

  .front-name-socials {
    flex-direction: row;
    justify-content: space-between;
  }

  .socials {
    gap: 1rem;
  }

  .social-svg {
    width: 30px;
  }

  .main-container {
    width: 100%;
    max-width: 1140px;
    height: 100%;
    margin-inline: auto;
    border: 3px solid var(--qr-bg);
    border-radius: 20px;
    box-shadow: 0 0 8px 5px rgba(0, 0, 0, 0.15);
    background-image: url("../assets/background-desktop.png");
  }

  main,
  .container,
  .card-front,
  .card-back {
    width: 100%;
    max-width: 100%;
    height: 340px;
  }

  .card-front,
  .card-back {
    display: flex;
  }

  .floral-design {
    flex-direction: column;
    align-items: center;
    padding-inline: 2rem;
  }

  .floral-img-cont {
    width: 50%;
    height: 50%;
  }

  h2 {
    font-size: 1.4rem;
  }

  .text-container p {
    font-size: 1rem;
  }

  .card-back {
    justify-content: space-between;
  }

  .social-links h2 {
    display: none;
  }

  .back-social-container {
    margin-bottom: 0;
    align-items: center;
    padding-top: 0;
    padding-bottom: 0.75rem;
  }

  .back-social-container:last-of-type {
    padding-bottom: 0;
  }

  .back-social-container svg {
    min-width: 30px;
    width: 30px;
  }

  .qr-container {
    width: 50%;
    height: 75%;
  }

  .qr-container img {
    width: 50%;
  }
}

/* ANIMATIONS */
@keyframes spinRight {
  100% {
    transform: rotate(360deg);
  }
}

@keyframes spinLeft {
  100% {
    transform: rotate(-360deg);
  }
}

@keyframes fadeIn {
  100% {
    opacity: 1;
  }
}

@keyframes fadeOut {
  100% {
    opacity: 0;
  }
}

@keyframes moveImgToRight {
  100% {
    left: 275px;
    transform: rotate(360deg);
  }
}

@keyframes moveImgToLeft {
  100% {
    left: 0;
    transform: rotate(-360deg);
  }
}

@keyframes moveLogoToRight {
  100% {
    left: 390px;
    transform: rotate(360deg);
  }
}

@keyframes moveLogoToLeft {
  100% {
    left: 100%;
    transform: rotate(-360deg);
  }
}
